.list-question{
  width: 50%;
  overflow: auto;
  max-height: 600px;
  float: left;
}
.quiz{
  width: 50%;
  overflow: auto;
  max-height: 600px;
}
.example-form {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  max-width: 450px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.qs{
  margin: 40px;
}

.number-qs {
  margin-top: 50px;
  margin-left: 50px;
  width: 100%;
}
