<div class="list-question">
    <mat-form-field appearance="fill" style="margin-right: 20px">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="selectedCategory" (ngModelChange)="searchCategory()">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let category of listCategories"
                        [value]="category.category">{{category.category}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="selectedType" (ngModelChange)="searchTypeQuestion()">
            <mat-option>None</mat-option>
            <mat-option value="0">Radio Button</mat-option>
            <mat-option value="1">Checkbox</mat-option>
            <mat-option value="2">True-False</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="search-div">
        <input matInput [(ngModel)]="questionName" (input)="SearchTextBox()" placeholder="Search"
               style="margin:0px 0px 10px 10px;max-width: 87%">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <ng-container *ngFor="let question of filteredListQuestions">
        <app-detail-question [inId]="question.id" [index]="searchListQuestion.indexOf(question)" (deleteId)="delete($event)" (addId)="add($event)" [isCreateQuiz]="true"></app-detail-question>
    </ng-container>
    <mat-paginator
            (page)="onPageChange($event)"
            [length]="searchListQuestion.length"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
</div>

<div class="quiz">
    <h1 style="text-align: center">Create Quiz</h1>
    <section style="margin-left: 50px">
        <app-message [message]="message"></app-message>
    </section>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Name : </mat-label>
            <input type="text" matInput [formControl]="quizFormControl" placeholder="Java pro test">
            <mat-error *ngIf="quizFormControl.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Time  : </mat-label>
            <input type="text" matInput [formControl]="timeFormControl" placeholder="Time do quiz">
            <mat-error *ngIf="timeFormControl.hasError('required')">
                Time is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>
    <h3 style="text-align: center; margin-bottom: 30px">List Question Of Quiz</h3>
    <label class="number-qs">Number Question Of Quiz : {{quizQuestion.length}}</label>
    <br><br>
    <label class="number-qs">Number Question Type Select : {{numberOfSelect}}</label>
    <br><br>
    <label class="number-qs">Number Question Type Checkbox : {{numberOfCheckbox}}</label>
    <br><br>
    <label class="number-qs">Number Question Type True False : {{numberOfTrueFalse}}</label>
    <br><br>
    <label class="number-qs">Number Question Type Input : {{numberOfInput}}</label>
    <br><br>
    <ng-container *ngFor="let q of quizQuestion; let i = index">
        <app-detail-question [inId]="q.id" [index]="i" (addId)="add($event)" (deleteId)="delete($event)" (removeId)="remove($event)" [isQuestionQuiz]="true"></app-detail-question>
    </ng-container>
    <button mat-raised-button color="primary" style="margin-left: 100px;margin-top: 50px" [disabled]="quizFormControl.invalid" (click)="createQuiz()">Submit</button>
</div>
