<ng-container *ngIf="question.type == 0">
  <mat-card >
    <mat-card-content class="box-card-custom" >
      <h3 class="header">Question {{index+1}}: {{question.question}}</h3>
      <section class="example-section" *ngFor="let answer of question.answers">
        <mat-radio-button color="primary" [checked]="answer.status" name="{{question.id}}">{{answer.answer}}</mat-radio-button>
      </section>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="question.type == 1">
  <mat-card>
    <mat-card-content class="box-card-custom" >
      <h3 class="header">Question {{index+1}}: {{question.question}}</h3>
      <mat-radio-group>
        <section class="example-section" *ngFor="let answer of question.answers">
          <mat-checkbox color="primary" class="example-margin" [checked]="answer.status" name="{{question.id}}">{{answer.answer}}</mat-checkbox>
        </section>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</ng-container>

