<h2 style="text-align: center">{{currentExam.name}}</h2>
<ng-container *ngFor="let question of listQuestions">
    <ng-container *ngIf="question.type == 0">
        <mat-card >
            <mat-card-content class="box-card-custom" >
                <h4 class="header">Question {{listQuestions.indexOf(question)}}: {{question.question}}</h4>
                <label class="header">Category : </label><label *ngFor="let category of question.categories">{{category.category}}, </label>
                <section class="example-section" *ngFor="let answer of question.answers">
                    <mat-radio-button color="primary" [checked]="answer.status" name="{{question.id}}" [disabled]="!answer.status">{{answer.answer}}</mat-radio-button>
                </section>
            </mat-card-content>
        </mat-card>
    </ng-container>

    <ng-container *ngIf="question.type == 1">
        <mat-card>
            <mat-card-content class="box-card-custom" >
                <h4 class="header">Question {{listQuestions.indexOf(question)}}: {{question.question}}</h4>
                <label class="header">Category : </label><label *ngFor="let category of question.categories">{{category.category}}, </label>
                <mat-radio-group>
                    <section class="example-section" *ngFor="let answer of question.answers">
                        <mat-checkbox color="primary" class="example-margin" [checked]="answer.status" [disabled]="!answer.status" name="{{question.id}}">{{answer.answer}}</mat-checkbox>
                    </section>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>
    </ng-container>

    <ng-container *ngIf="question.type == 2">
        <mat-card>
            <mat-card-content class="box-card-custom" >
                <h4 class="header">Question {{listQuestions.indexOf(question)}}: {{question.question}}</h4>
                <label class="header">Category : </label><label *ngFor="let category of question.categories">{{category.category}}, </label>
                <section class="example-section" *ngFor="let answer of question.answers">
                    <mat-radio-button color="primary" [checked]="answer.status" name="{{question.id}}" [disabled]="!answer.status">{{answer.answer}}</mat-radio-button>
                </section>
            </mat-card-content>
        </mat-card>
    </ng-container>

    <ng-container *ngIf="question.type == 3">
        <mat-card>
            <mat-card-content class="box-card-custom" >
                <h4 class="header">Question {{listQuestions.indexOf(question)}}: {{question.question}}</h4>
                <label class="header">Category : </label><label *ngFor="let category of question.categories">{{category.category}}, </label>
                <br><br>
                <section class="example-section">
                    <label style="font-size: medium">Answer is : </label><label style="font-size: medium" *ngFor="let answer of question.answers">{{answer.answer}}</label>
                </section>
            </mat-card-content>
        </mat-card>
    </ng-container>
</ng-container>
<section>
    <button mat-raised-button color="primary" style="margin-left: 100px;margin-top: 50px;margin-bottom: 50px" (click)="back()">Back to List</button>
</section>
