<!-- Menu -->
<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <a routerLink=""><span>My App</span></a>


  <span class="example-spacer"></span>
  <a routerLink="/login">Login</a>
  &nbsp; &nbsp;
  <a routerLink="/create_account"> <span>Register</span></a>


</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon style="margin-right: 10px">home</mat-icon>Link 1</a>
      <a mat-list-item href="#"><mat-icon style="margin-right: 10px">home</mat-icon>Link 2</a>
      <a mat-list-item href="#">Link 3</a>
      <a mat-list-item href="#">Link 4</a>
      <a mat-list-item href="#">Link 5</a>
      <a mat-list-item href="#">Link 6</a>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
      <a mat-list-item href="#">Link 4</a>
      <a mat-list-item href="#">Link 5</a>
      <a mat-list-item href="#">Link 6</a>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
      <a mat-list-item href="#">Link 4</a>
      <a mat-list-item href="#">Link 5</a>
      <a mat-list-item href="#">Link 6</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <app-table></app-table>
  </mat-sidenav-content>
</mat-sidenav-container>
