<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="updateCategoryForm">
    <table class="table table-bordered" >
      <tr>
        <td>Title</td>
        <td><input class="form-control" type="text" [(ngModel)]="currentCategory.category" formControlName="category">
          <div *ngIf="updateCategoryForm.get('category').hasError('required') && updateCategoryForm.touched" class="text-danger">
            field require
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-primary mr-2" type="submit" [disabled]="updateCategoryForm.invalid">Update</button>
          <button class="btn btn-secondary" routerLink="/books">Cancel</button>
        </td>
      </tr>
    </table>
  </form>

</div>
