.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.example-margin {
  margin: 0 10px;
}
.box-card-custom {
  margin: 0px 0px 0px 30px ;
}
.header {
  margin: 10px 0px 20px 10px
}
mat-card {
  margin-bottom: 3px;
}


