<ng-container *ngIf="question.type == 0">
  <mat-card >
    <mat-card-content class="box-card-custom" >
      <h3 class="header">Question {{index+1}}: {{question.question}}</h3>
      <label class="header">Category : </label><label *ngFor="let category of question.categories">{{category.category}}, </label>
      <section class="example-section" *ngFor="let answer of question.answers">
        <mat-radio-button color="primary" [checked]="answer.status" name="{{question.id}}" [disabled]="!answer.status">{{answer.answer}}</mat-radio-button>
      </section>
      <div>
        <button *ngIf="isListQuestion" mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="editQuestionType4Answer(question.id)">
          <mat-icon aria-label="Edit" >edit</mat-icon>
        </button>
        <button *ngIf="isListQuestion" mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="delete(question.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button *ngIf="isCreateQuiz" mat-icon-button matTooltip="Click to add Quiz" class="iconbutton" color="primary" (click)="addQuiz(question.id)">
          Add to Quiz <mat-icon aria-label="Add">add</mat-icon>
        </button>
        <button *ngIf="isQuestionQuiz" mat-icon-button matTooltip="Click to remove Question" class="iconbutton" color="primary" (click)="removeQuiz(question.id)">
          Remove Question <mat-icon aria-label="Remove">remove</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="question.type == 1">
  <mat-card>
    <mat-card-content class="box-card-custom" >
      <h3 class="header">Question {{index+1}}: {{question.question}}</h3>
      <label class="header">Category : </label><label *ngFor="let category of question.categories">{{category.category}}, </label>
      <mat-radio-group>
        <section class="example-section" *ngFor="let answer of question.answers">
          <mat-checkbox color="primary" class="example-margin" [checked]="answer.status" [disabled]="!answer.status" name="{{question.id}}">{{answer.answer}}</mat-checkbox>
        </section>
      </mat-radio-group>
      <div>
        <button *ngIf="isListQuestion" mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="editQuestionType4Answer(question.id)">
          <mat-icon aria-label="Edit" >edit</mat-icon>
        </button>
        <button *ngIf="isListQuestion" mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="delete(question.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button *ngIf="isCreateQuiz" mat-icon-button matTooltip="Click to add Quiz" class="iconbutton" color="primary" (click)="addQuiz(question.id)">
          Add to Quiz <mat-icon aria-label="Add">add</mat-icon>
        </button>
        <button *ngIf="isQuestionQuiz" mat-icon-button matTooltip="Click to remove Question" class="iconbutton" color="primary" (click)="removeQuiz(question.id)">
          Remove Question <mat-icon aria-label="Remove">remove</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="question.type == 2">
  <mat-card>
    <mat-card-content class="box-card-custom" >
      <h3 class="header">Question {{index+1}}: {{question.question}}</h3>
      <label class="header">Category : </label><label *ngFor="let category of question.categories">{{category.category}}, </label>
      <section class="example-section" *ngFor="let answer of question.answers">
        <mat-radio-button color="primary" [checked]="answer.status" name="{{question.id}}" [disabled]="!answer.status">{{answer.answer}}</mat-radio-button>
      </section>
      <div>
        <button *ngIf="isListQuestion" mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="editTrueFalseQuestion(question.id)">
          <mat-icon aria-label="Edit" >edit</mat-icon>
        </button>
        <button *ngIf="isListQuestion" mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="delete(question.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button *ngIf="isCreateQuiz" mat-icon-button matTooltip="Click to add Quiz" class="iconbutton" color="primary" (click)="addQuiz(question.id)">
          Add to Quiz <mat-icon aria-label="Add">add</mat-icon>
        </button>
        <button *ngIf="isQuestionQuiz" mat-icon-button matTooltip="Click to remove Question" class="iconbutton" color="primary" (click)="removeQuiz(question.id)">
          Remove Question <mat-icon aria-label="Remove">remove</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="question.type == 3">
  <mat-card>
    <mat-card-content class="box-card-custom" >
      <h3 class="header">Question {{index+1}}: {{question.question}}</h3>
      <label class="header">Category : </label><label *ngFor="let category of question.categories">{{category.category}}, </label>
      <br><br>
      <section class="example-section">
        <label style="font-size: medium">Answer is : </label><label style="font-size: medium" *ngFor="let answer of question.answers">{{answer.answer}}</label>
      </section>
      <div>
        <button *ngIf="isListQuestion" mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="editInputQuestion(question.id)">
          <mat-icon aria-label="Edit" >edit</mat-icon>
        </button>
        <button *ngIf="isListQuestion" mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="delete(question.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button *ngIf="isCreateQuiz" mat-icon-button matTooltip="Click to add Quiz" class="iconbutton" color="primary" (click)="addQuiz(question.id)">
          Add to Quiz <mat-icon aria-label="Add">add</mat-icon>
        </button>
        <button *ngIf="isQuestionQuiz" mat-icon-button matTooltip="Click to remove Question" class="iconbutton" color="primary" (click)="removeQuiz(question.id)">
          Remove Question <mat-icon aria-label="Remove">remove</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>


