<section class="body-margin">
    <h2>Update Question</h2>
    <label>Category : </label>
    <label *ngFor="let category of question.categories">{{category.category}}, </label>
    <app-message [message]="message"></app-message>
    <form class="example-form" (ngSubmit)="submit()" [formGroup]="questionForm">
        <mat-form-field class="example-full-width">
            <mat-label>Question</mat-label>
            <textarea matInput rows="4" formControlName="question" placeholder="Enter the question"></textarea>
            <mat-error *ngIf="questionForm.get('question').hasError('required')">
                Question is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Answer A</mat-label>
            <textarea matInput formControlName="answer" placeholder="Enter the answer"></textarea>
            <mat-error *ngIf="questionForm.get('answer').hasError('required')">
                Answer is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" multiple>
                <mat-option *ngFor="let category of categories" [value]="category">{{category.category}}</mat-option>
            </mat-select>
            <mat-error *ngIf="questionForm.get('category').hasError('required')">
                Category is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <br><br>
        <button mat-raised-button color="primary" class="example-margin" [disabled]="questionForm.invalid">Update</button>
        <button mat-raised-button color="primary" class="example-margin" (click)="cancel()" >Cancel</button>
    </form>
</section>
