work!!!!!!!!
<!--<mat-card >-->
<!--    <mat-card-content class="box-card-custom" >-->
<!--        <h3 class="header">Exam Title {{index+1}}: {{currentExam.name}}</h3>-->
<!--        <section class="example-section" *ngFor="let answer of question.answers">-->
<!--            <mat-radio-button color="primary" [checked]="answer.status" name="{{question.id}}" [disabled]="!answer.status">{{answer.answer}}</mat-radio-button>-->
<!--        </section>-->
<!--        <div>-->
<!--            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="clickEdit(question.id)">-->
<!--                <mat-icon aria-label="Edit" >edit</mat-icon>-->
<!--            </button>-->
<!--            <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="delete(question.id)">-->
<!--                <mat-icon aria-label="Delete">delete</mat-icon>-->
<!--            </button>-->
<!--        </div>-->
<!--    </mat-card-content>-->
<!--</mat-card>-->
